.poster {
  container-name: poster-container;
  container-type: inline-size;
}

.poster__content {
  align-items: center; /* Centrado vertical */
  display: flex; /* Flexbox por defecto */
  flex-direction: row; /* Dirección horizontal */
  justify-content: space-between; /* Título a la izquierda, imagen a la derecha */
  padding: 20px;
}

/* Estilos de las celdas */

.celda--extragrande {
  text-align: left; /* Alinea el texto a la izquierda */
}

.celda--grande img {
  height: auto; /* Mantiene la proporción */
  max-width: 300px; /* Tamaño máximo para evitar imágenes gigantes */
  width: 100%; /* Ajusta el tamaño de la imagen */
}


@supports (display: grid) {
  h1{
  font-size: 3.5rem;
  }

  .poster__content {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0;
    width: 100%;
  }

  .celda{
    aspect-ratio:1/1;
  }

  .celda--extragrande {
    align-content: center;
    grid-column: span 3; /* Abarca 2 columnas */
    grid-row: span 4; /* Abarca 2 filas */
    text-align: center;
  }

  .celda--grande {
    align-content: center;
    grid-column: span 2; /* Abarca 2 columnas */
    grid-row: span 2; /* Abarca 2 filas */
    text-align: center;
  }

  .celda--pequena {
    grid-column: span 1; /* Abarca 1 columna */
    grid-row: span 1; /* Abarca 1 fila */
  }

  .celda--azul{
    background:$primary-color;
  }

  .celda--lila{
    background:$secondary-color;
  }

  .celda--verde{
    background:$celda-verde;
  }

  .celda__img {
    width:100%
  }
}


@container poster-container (max-width: 768px) {
  .poster__content {
    display: flex !important;
    flex-direction: column !important;
  }

  .celda {
    aspect-ratio: auto;
    margin-bottom: 10px; /* Espaciado entre celdas */
    width: 100%; /* Cada celda ocupa todo el ancho */
  }

  .celda--extragrande {
    order: 1; /* El título aparece primero */
    padding: 20px;
    text-align: center; /* Centra el texto */
  }

  .celda--grande {
    align-items: center;
    display: flex; /* Centra la imagen */
    justify-content: center;
    order: 2; /* La imagen aparece después del título */
  }

  .celda--pequena {
    display: none;
  }

  .celda--grande img {
  height: auto; /* Mantiene la proporción */
  width: 100% !important; /* Ajusta el tamaño de la imagen */
}

  h1 {
    font-size: 2rem;
  }
}

