<footer class="footer text-center">
  <div class="footer__container">
    <!-- Sección de dirección -->
    <div class="footer__section footer__section--address">
      <p class="footer__title">Ubicación:</p>
      <address class="footer__address">
        Pazo de Congresos e Exposicións de Galicia<br>
        Rúa de Miguel Ferro Caaveiro, s/n<br>
        15707 Santiago de Compostela, A Coruña
      </address>
    </div>

    <!-- Sección de enlaces -->
    <div class="footer__section--links">
      <p class="footer__title">Navegación:</p>
      <ul class="footer__links">
        <li class="footer__link-item"><a class="footer__link" href="index.html">Home</a></li>
        <li class="footer__link-item"><a class="footer__link" href="speakers.html">Participantes</a></li>
        <li class="footer__link-item"><a class="footer__link" href="blog.html">Blog</a></li>
        <li class="footer__link-item"><a class="footer__link" href="contact.html">Contacto</a></li>
      </ul>
    </div>

    <!-- Sección de redes sociales -->
    <div class="footer__section--social">
      <p class="footer__title">Síguenos:</p>
      <div class="footer__social-icons">
        <a class="footer__social-link" href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class="footer__social-link" href="#"><i class="fab fa-twitter"></i></a>
        <a class="footer__social-link" href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>
