<nav class="navbar navbar-dark navbar-expand-lg header">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-3 ms-auto">
        <li class="navbar-item"><a href="index.html">Home</a></li>
        <li class="navbar-item"><a href="speakers.html">Participantes</a></li>
        <li class="navbar-item"><a href="blog.html">Blog</a></li>
        <li class="navbar-item"><a href="contact.html">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>